version: "3.8"

services:
  frontend:
    image: ghcr.io/pauta-cidada/frontend:latest
    environment:
      NODE_ENV: production
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
      labels:
        - traefik.enable=true
        - traefik.http.routers.pautacidada_frontend.rule=Host(`pautacidada.com.br`)
        - traefik.http.routers.pautacidada_frontend.service=pautacidada_frontend
        - traefik.http.routers.pautacidada_frontend.entrypoints=websecure
        - traefik.http.routers.pautacidada_frontend.tls.certresolver=le
        - traefik.http.routers.pautacidada_frontend.tls=true
        - traefik.http.services.pautacidada_frontend.loadbalancer.server.port=5173
    networks:
      - traefik_public

networks:
  traefik_public:
    external: true
